.blog-content {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
    height: 100%;
}

.blog-wrapper {
    grid-column: 2;
    grid-row: 1;
    height: auto;
    // margin-right: -1em;
    margin-right: 0;
    z-index: 1;
    margin-top: -35em;
    border: solid 2px red;
}

.blog-text-wrapper {
    // border: solid 2px green;
    width: auto;
}

// .blog-text-wrapper {
//     background-color: $darkbluegrey;
//     border: solid 3px yellow;
// }
.aside {
    grid-column: 1;
    grid-row: 1;
    // margin-left: 0.1em;
    margin-left: 0;
    margin-top: 3em;
    z-index: 1;
    // border: solid 2px red;
    position: relative;
}

.aside-img-container {
    position: absolute;
    top: 0;
    z-index: 1;
}

.aside-text-container {
    position: absolute;
    top: 1em;
    right: -0.5em;
    width: 78%;
    padding: 77% 1em 1em;
}

.blog-img-wrapper {
    min-height: 00px;
    width: 100%;
    object-fit: cover;
    justify-content: center;
    border: solid 3px red;
}

.blog-img-wrapper img {
    height: 30em;
    width: 100%;
    object-fit: cover;
}

.blog-text-wrapper h3 {
    // background-color: $darkbluegrey;
    padding-top: 2em;
}

// .blog-text-wrapper {
//     display: flex;
//     flex-direction: column;
// }