.blog-content {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
    height: 100%;
}

.blog-wrapper {
    grid-column: 2;
    grid-row: 1;
    height: auto;
    // margin-right: -1em;
    margin-right: 0;
    z-index: 1;
    margin-top: -35em;
    border: solid 2px red;
}

.blog-text-wrapper {
    border: solid 2px green;
    width: auto;
}

.aside {
    grid-column: 1;
    grid-row: 1;
    // margin-left: 0.1em;
    margin-left: 0;
    margin-top: 3em;
    z-index: 1;
    border: solid 2px red;
}

// .blog-text-wrapper {
//     display: flex;
//     flex-direction: column;
// }