.blog-content {
    display: grid;
    grid-template-columns: 40% 62%;
    grid-template-rows: 100%;
    height: 100%;
}

.blog-wrapper {
    grid-column: 2;
    grid-row: 1;
    height: auto;
    // margin-right: -1em;
    margin-right: 1%;
    z-index: 1;
    margin-top: -35em;
    // border: solid 2px red;
}

.blog-top-container {
    // padding: 2em 1em;
    margin: 5em 7em 0 1em;
}

.blog-data,
.author {
    display: inline-flex;
    font-style: normal;
    margin-bottom: 1.5em;
}

// ASIDE
.aside {
    grid-column: 1;
    grid-row: 1;
    // margin-left: 0.1em;
    margin-left: 0;
    margin-top: 7em;
    z-index: 1;
    // border: solid 2px red;
    position: relative;
}

.aside-img-container {
    position: absolute;
    top: 0;
    z-index: 1;
}

.aside-text-container {
    position: absolute;
    top: 1em;
    right: -1em;
    width: 78%;
    padding: 77% 1em 1em;
}

.blog-img-wrapper {
    min-height: 00px;
    width: 100%;
    object-fit: cover;
    justify-content: center;
    // border: solid 3px red;
}

.blog-img-wrapper img {
    height: 30em;
    width: 100%;
    object-fit: cover;
}

.blog-text-wrapper h2 {
    // background-color: $darkbluegrey;
    // padding-top: 2em;
    text-align: left;
    margin-bottom: 0.2em;
}

.blog-text-wrapper h3 {
    text-align: left;
    margin-bottom: 0.3em;
}

// .blog-text-wrapper {
//     display: flex;
//     flex-direction: column;
// }
// COMMENTS SECTION 
.comments .content {
    display: flex;
    // flex-direction: row;
    // border: solid 2px goldenrod;
    width: 100%;
}

.wrapper .comments {
    width: 100%;
    margin: 1em;
}

.comments .text-wrapper {
    display: inline-block;
}

.comments .img-wrapper {
    width: 20%;
    min-width: 150px;
    padding-right: 3em;
}

// FORM SECTION