.contact-content {
    display: grid;
    width: 100%;
    grid-template-columns: 30% 70%;
    grid-row: 100% 100%;
    grid-column-gap: 3em;
    grid-row-gap: 5em;
    height: 50vh;
}

.contact-info {
    margin: 25% 30%;
}

.contact-section {
    margin-top: -30em;
    z-index: 1;
}

.social-list {
    text-align: left;
    padding: 0;
    width: 15em;
}

.social-list li {
    padding-right: 1em;
}

address {
    margin: -1em 0;
}

address {
    font-style: normal;
}

@media (max-width: 800px) {
    .contact-content {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        height: 100%;
    }
    .contact-section {
        margin-top: -30em;
    }
    .contact-info,
    .contact-info p {
        display: inline-block;
        margin: 0 auto 1em;
        padding: 0.1em;
        text-align: center;
        width: 100%;
        text-align: center;
    }
    .social-list {
        text-align: center;
        margin: 0 auto 1em;
    }
}