.blog-form-wrapper {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    margin: 2em 0 5em;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

label {
    display: none;
}

form textarea,
input {
    width: 100%;
    border: solid 0.1em $robineggblue;
    padding: 1em;
    margin: 2em 0;
}

.blog-form-wrapper input[type="text"],
.blog-form-wrapper input[type="email"],
.blog-form-wrapper textarea {
    background-color: $darkbluegrey;
}

form input {
    margin: 0 auto;
    width: calc((100% / 2) - 1em);
    margin: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

::placeholder {
    color: #ffffff;
}

input,
select,
textarea {
    color: $spruce;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    background-color: coral;
}

.submit-button {
    background-color: $spruce;
    color: #ffffff;
    width: 100%;
}

// CONTACT FORM
.contact-form-wrapper {
    padding: 3em 3em;
}

.contact-form-wrapper,
form textarea,
input {
    background-color: $spruce;
}

@media (max-width: 500px) {
    form {
        flex-direction: column;
    }
    form input {
        width: 100%;
    }
}