// $darkbluegrey: #0c1423;
body {
    background-color: $darkbluegrey;
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
    width: 95%;
}

.nav-list,
.social-list {
    list-style: none;
}

nav li,
.gallery-list li,
.social-list li {
    display: inline;
}

a {
    text-decoration: none;
}