header {
    height: 70vh;
    min-height: 620px;
    max-height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.index-header {
    background-image: url('../assets/header-image.jpg');
    background-color: #465774;
    background-blend-mode: multiply;
    background-position: center;
}

.blog-header {
    background-image: url('../assets/blog-header.jpg');
    height: 45vh;
}

.contact-header {
    background-image: url('../assets/contact-header.jpg');
    height: 40vh;
}