    .gallery,
    .about,
    .banner,
    .news-box {
        display: flex;
    }
    
    h1 {
        width: 20%;
        margin-left: 0.4em;
    }
    
    // .index-header {
    //     display: flex;
    // }
    header img {
        position: absolute;
        top: 10em;
        right: 0;
        height: auto;
        width: 60%;
        // bottom: -10em;
        // bottom: -25%;
    }
    
    // INTRO 
    .intro {
        text-align: center;
        // padding: 12em;
        padding: 15% 5em;
    }
    
    .intro p {
        text-align: left;
    }
    
    // ATTRACTIONS ------------------------------------//
    .attractions {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
        grid-column-gap: calc(2em + 10%);
        grid-row-gap: 5em;
    }
    
    .attractions div {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    
    .attractions h4 {
        margin-bottom: 0;
    }
    
    .text-wrapper-1 {
        padding-right: calc(5em + 5%);
    }
    
    .text-wrapper-2 {
        text-align: right;
        padding-left: 10em;
        padding-bottom: 2em;
        margin: 0;
    }
    
    .img-wrapper-2 {
        order: 2;
    }
    
    .img-wrapper-1 img {
        margin-top: -2em;
    }
    
    .img-wrapper-2 img {
        margin-top: 1em;
    }
    
    @media (max-width: 900px) {
        section {
            // padding: 2em;
            width: 90%;
        }
        .img-wrapper-2 {
            order: 0;
        }
        .attractions div,
        img {
            text-align: center;
            margin: 0 auto;
            padding: 0;
        }
        button {
            margin: 0 auto;
        }
    }
    
    // ABOUT
    .about {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 8em 8em 3em;
    }
    
    .about .wrapper {
        width: calc((100% / 2) - 1em);
        flex: 1 1 340px;
        padding: 0em;
    }
    
    .about .wrapper span {
        float: left;
        // height: 12em;
        margin-right: 1em;
    }
    
    .about h4 {
        // float: right;
        width: 10em;
        margin-top: 0em;
        margin-left: 20%;
        margin-bottom: 0;
    }
    
    .about p {
        // float: right;
        margin-left: 5.5em;
        padding-bottom: 1em;
    }
    
    @media (max-width: 780px) {
        .about {
            width: 100%;
            padding: 0;
            margin: 3em 0;
        }
    }
    
    // BANNER 
    .banner {
        width: 100%;
        padding: 0;
    }
    
    // NEWS BOX
    .news-box {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 4em 2em 4em;
        margin: 0 auto;
    }
    
    .news-box .wrapper {
        width: calc((100% / 3) - 20%);
        flex: 1 1 420px;
        // padding: 0 2em;
    }
    
    .news-box .img-wrapper {
        margin: 3em 1em;
        flex: 1 0 200px;
        padding-right: 8%;
    }
    
    .news-box h3 {
        text-align: left;
    }
    
    // GALLERY
    .gallery {
        width: 100%;
        padding: 4em;
    }
    
    .gallery ul,
    .gallery li {
        display: flex;
    }
    
    .gallery ul {
        justify-content: space-around;
        padding: 1rem;
        flex-wrap: wrap;
        width: 100%;
        margin: 0 auto;
    }
    
    .gallery li {
        width: calc((100% / 3) - 2em);
    }
    
    img {
        width: 100%;
        height: auto;
    }
    
    @media (max-width: 700px) {
        .gallery {
            display: none;
        }
        .intro p {
            margin: 0 -3em;
        }
    }