.nav-list {
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
}

.nav-list li {
    padding: 1.5em;
}

@media (max-width: 592px) {
    .nav-list {
        flex-direction: column;
    }
    .nav-list li {
        text-align: left;
        margin: 0.4em;
        padding: 0;
        display: inline-block;
    }
}