// font-family: 'Barlow', sans-serif;
// font-family: 'Lato', sans-serif;
body,
nav a,
.contact-info a {
    color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
nav li,
button span {
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

h3,
h4,
nav li,
button {
    letter-spacing: 1px;
}

h3,
nav li,
button {
    text-align: center;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: regular;
    font-size: 20px;
    line-height: 32px;
}

h1 {
    // font-size: 138px;
    font-size: calc(10px + (138 - 10) * ((100vw - 300px) / (1600 - 300)));
    line-height: 126px;
}

h2 {
    // font-size: 80px;
    font-size: calc(40px + (80 - 40) * ((100vw - 300px) / (1600 - 300)));
    line-height: 92px;
}

h3 {
    font-size: 42px;
}

h4 {
    // font-size: 32px;
    font-size: calc(10px + (32 - 10) * ((100vw - 300px) / (1600 - 300)));
}

nav a {
    font-size: 20px;
    line-height: 29px;
}

button,
.submit-button {
    line-height: 32px;
    font-size: 20px;
    font-weight: bold;
}