// BUTTONS
button,
.submit-button {
    border: 0;
    text-transform: uppercase;
    line-height: 0.6em;
    margin-top: 0.5em;
}

.blue-button {
    background-color: $robineggblue;
}

.black-button {
    background-color: $darkbluegrey;
    color: #ffffff;
}

.blue-button,
.black-button {
    padding: 0.8em 1em;
    border-radius: 0.1em;
}

.contact-form-wrapper .submit-button {
    background-color: $darkbluegrey;
}

// DECORATIONS, SHADOWS, ets.
span {
    color: $robineggblue;
    font-size: 2em;
    vertical-align: top;
}

// CIRCLED FAVICONS
i.fa {
    color: $darkbluegrey;
}

// BLUE SQUARE SHOADOWS ON PICTURES
.attractions .img-wrapper-1 img,
.news-box img {
    box-shadow: 3em 3em $robineggblue;
}

.attractions .img-wrapper-2 img {
    box-shadow: -3em 3em $robineggblue;
}

// In blog
.blog-img-wrapper,
.contact-form-wrapper {
    box-shadow: -30px 40px $robineggblue;
}

.blog-text-wrapper {
    position: relative;
}

// LEFT AND BOTTOM BLUE BORDER
.blog-top-container::after {
    content: '';
    border-left: solid 5px $robineggblue;
    position: absolute;
    top: 15em;
    left: -30px;
    bottom: -10px;
    // right: -33px;
}

.blog-top-container::before {
    content: '';
    border-bottom: solid 5px $robineggblue;
    position: absolute;
    top: 25px;
    left: -30px;
    bottom: -15px;
    right: 100px;
}

// HOVER AND ACTIVE EFFECTS
a:hover,
a:focus {
    color: $robineggblue;
}

button:hover,
button:focus {
    box-shadow: 0.2em 0.2em 0.2em grey;
    transform: scale(1.1);
    transition: all 0.5s;
}

.submit-button:hover,
.submit-button:focus {
    background-color: coral;
}

.submit-button:active {
    background-color: coral;
    transform: scale(0.95);
    transition: all 0.3s;
    color: $darkbluegrey;
}

button:active {
    box-shadow: 0.2em 0.2em 0.2em grey;
    transform: scale(0.9);
    transition: all 0.5s;
}

a:active {
    display: inline-block;
    transform: scale(0.9);
    font-weight: bold;
    transition: all 0.5s;
}