html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body,
nav a,
.contact-info a {
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
nav li,
button span,
a {
  font-family: 'Barlow', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

h3,
h4,
nav li,
button {
  letter-spacing: 1px;
}

h3,
nav li,
button {
  text-align: center;
}

p,
.aside .posts-list,
adress,
author {
  font-family: 'Lato', sans-serif;
  font-weight: regular;
  font-size: 20px;
  line-height: 32px;
}

h1 {
  font-size: calc(30px + (138 - 30) * ((100vw - 300px) / (1600 - 300)));
  line-height: 126px;
}

h2 {
  font-size: calc(40px + (80 - 40) * ((100vw - 300px) / (1600 - 300)));
  line-height: 92px;
}

h3 {
  font-size: 42px;
}

h4 {
  font-size: calc(17px + (32 - 17) * ((100vw - 300px) / (1600 - 300)));
}

nav a {
  font-size: 20px;
  line-height: 29px;
}

button,
.submit-button {
  line-height: 32px;
  font-size: 20px;
  font-weight: bold;
}

body {
  background-color: #0c1423;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  width: 80%;
}

.nav-list,
.social-list {
  list-style: none;
}

nav li,
.gallery-list li,
.social-list li {
  display: inline;
}

a {
  text-decoration: none;
}

.attractions,
.gallery,
.aside-text-container {
  background-color: #0f614e;
}

@media (min-width: 1900px) {
  h1 {
    font-size: 138px;
  }
}

@media (max-width: 768px) {
  h1 {
    line-height: 1em;
  }
  .wrapper {
    width: 100%;
    padding-top: 0.5em;
    margin: 0;
  }
  p,
  button,
  h4 {
    padding: 1em;
  }
  .text-wrapper,
  .news-box h3 {
    text-align: center;
  }
}

header {
  height: 75vh;
  min-height: 620px;
  max-height: 750px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.index-header {
  background-image: url("../assets/header-image.jpg");
  background-color: #465774;
  background-blend-mode: multiply;
  background-position: center;
}

.blog-header {
  background-image: url("../assets/blog-header.jpg");
  height: 45vh;
}

.contact-header {
  background-image: url("../assets/contact-header.jpg");
  height: 40vh;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 10%;
}

.nav-list li {
  padding: 1.5em;
}

button,
.submit-button {
  border: 0;
  text-transform: uppercase;
  margin-top: 0.5em;
}

.blue-button {
  background-color: #86e0f9;
  padding: 0.5em 1.5em;
}

.black-button {
  background-color: #0c1423;
  color: #ffffff;
  width: 10em;
  padding: 0.5em;
}

.blue-button,
.black-button {
  border-radius: 0.1em;
}

.contact-form-wrapper .submit-button {
  background-color: #0c1423;
}

span {
  color: #86e0f9;
  font-size: 2em;
  vertical-align: top;
}

i.fa {
  color: #0c1423;
}

.attractions .img-wrapper-1 img,
.news-box img {
  -webkit-box-shadow: 2em 2em #86e0f9;
          box-shadow: 2em 2em #86e0f9;
}

.attractions .img-wrapper-2 img {
  -webkit-box-shadow: -2em 2em #86e0f9;
          box-shadow: -2em 2em #86e0f9;
}

.blog-img-wrapper,
.contact-form-wrapper {
  -webkit-box-shadow: -30px 40px #86e0f9;
          box-shadow: -30px 40px #86e0f9;
}

.blog-text-wrapper {
  position: relative;
}

.blog-top-container::after {
  content: '';
  border-left: solid 5px #86e0f9;
  position: absolute;
  top: 15em;
  left: -30px;
  bottom: -10px;
}

.blog-top-container::before {
  content: '';
  border-bottom: solid 5px #86e0f9;
  position: absolute;
  top: 25px;
  left: -30px;
  bottom: -15px;
  right: 100px;
}

a:hover,
a:focus {
  color: #86e0f9;
}

button:hover,
button:focus {
  -webkit-box-shadow: 0.2em 0.2em 0.2em grey;
          box-shadow: 0.2em 0.2em 0.2em grey;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.submit-button:hover,
.submit-button:focus {
  background-color: coral;
}

.submit-button:active {
  background-color: coral;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #0c1423;
}

button:active {
  -webkit-box-shadow: 0.2em 0.2em 0.2em grey;
          box-shadow: 0.2em 0.2em 0.2em grey;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

a:active {
  display: inline-block;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  font-weight: bold;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.gallery,
.about,
.banner,
.news-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h1 {
  width: 20%;
  margin-left: 0.4em;
}

header img {
  position: absolute;
  top: 10em;
  right: 0;
  height: auto;
  width: 60%;
}

.intro {
  text-align: center;
  padding: 15% 5em;
}

.intro p {
  text-align: left;
}

.attractions {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: (minmax(360px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-column-gap: calc(2em + 10%);
  grid-row-gap: 5em;
}

.attractions div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}

.attractions h4 {
  margin-bottom: 0;
}

.text-wrapper-1 {
  padding-right: calc(5em + 5%);
}

.text-wrapper-2 {
  text-align: right;
  padding-left: 10em;
  padding-bottom: 2em;
  margin: 0;
}

.img-wrapper-2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.img-wrapper-1 img {
  margin-top: -2em;
}

.img-wrapper-2 img {
  margin-top: 1em;
}

@media (max-width: 900px) {
  section {
    padding: 2em;
  }
  .img-wrapper-2 {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .attractions div,
  img {
    text-align: center;
    margin: 0 auto;
    padding: 0;
  }
  button {
    margin: 0 auto;
  }
}

.about {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 8em 8em 3em;
}

.about .wrapper {
  width: calc((100% / 2) - 1em);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 340px;
          flex: 1 1 340px;
  padding: 0em;
}

.about .wrapper span {
  float: left;
  margin-right: 1em;
}

.about h4 {
  width: 10em;
  margin-top: 0em;
  margin-left: 20%;
  margin-bottom: 0;
}

.about p {
  margin-left: 5.5em;
  padding-bottom: 1em;
}

@media (max-width: 780px) {
  .about {
    width: 100%;
    padding: 0;
    margin: 3em 0;
  }
}

.banner {
  width: 100%;
  padding: 0;
}

.news-box {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 4em 2em 4em;
  margin: 0 auto;
}

.news-box .wrapper {
  width: calc((100% / 3) - 20%);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 420px;
          flex: 1 1 420px;
}

.news-box .img-wrapper {
  margin: 3em 1em;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 200px;
          flex: 1 0 200px;
  padding-right: 8%;
}

.news-box h3 {
  text-align: left;
}

.gallery {
  width: 100%;
  padding: 4em;
}

.gallery ul,
.gallery li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery ul {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.gallery li {
  width: calc((100% / 3) - 2em);
}

img {
  width: 100%;
  height: auto;
}

@media (max-width: 700px) {
  .gallery {
    display: none;
  }
}

footer {
  background-color: #86e0f9;
  color: #0c1423;
  font-family: 'Lato', sans-serif;
  font-weight: regular;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
}

.blog-content {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  grid-row: 100% 100%;
  grid-column-gap: 5em;
  grid-row-gap: 5em;
}

.blog-wrapper {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  height: auto;
  z-index: 1;
  margin-top: -30em;
  width: 100%;
  padding: 0;
}

.blog-top-container {
  padding: 2em 1em;
  margin: 5em 7em 0 1em;
}

.blog-top-container p {
  margin-top: 3em;
}

.blog-data,
.author {
  display: inline;
  font-style: normal;
}

.aside {
  -ms-grid-column: 1;
  grid-column: 1;
  margin-left: 0.1em;
  margin-left: 0;
  margin-top: 7em;
  z-index: 1;
  position: relative;
}

.aside-img-container {
  position: absolute;
  top: 0;
  z-index: 1;
}

.aside-text-container {
  position: absolute;
  top: 1em;
  right: -1em;
  width: 80%;
  padding: 77% 1em 1em;
}

.aside h4 {
  margin: 2em 0 0em;
}

.blog-img-wrapper img {
  height: 30em;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-text-wrapper {
  width: 100%;
}

.blog-text-wrapper h2 {
  text-align: left;
  margin-bottom: 0.2em;
}

.blog-text-wrapper h3 {
  text-align: left;
  margin-bottom: 0.3em;
}

.comments .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.wrapper .comments {
  width: 90%;
  margin: 1em;
}

.comments .text-wrapper {
  display: inline-block;
}

.comments .img-wrapper {
  width: 20%;
  min-width: 150px;
  padding-right: 3em;
}

@media (max-width: 750px) {
  .blog-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin: 0;
    padding: 0;
    height: auto;
  }
  section {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .aside-img-container,
  .aside-text-container,
  .blog-top-container,
  .blog-text-wrapper,
  .text-wrapper {
    position: relative;
    width: 100%;
    padding: 0;
    top: 0;
    right: 0;
    margin: 0 auto;
    text-align: unset;
  }
  .blog-top-container::after,
  .blog-top-container::before {
    display: none;
  }
  h2 {
    text-align: center;
    margin: 0 auto;
  }
  .comments .img-wrapper {
    display: none;
  }
  .aside {
    width: 100%;
    margin-top: -30em;
    padding: 1em;
  }
  .blog-text-wrapper {
    margin-top: 25em;
  }
}

.contact-content {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
  grid-row: 100% 100%;
  grid-column-gap: 3em;
  grid-row-gap: 5em;
  height: 50vh;
}

.contact-info {
  margin: 25% 30%;
}

.contact-section {
  margin-top: -30em;
  z-index: 1;
}

.social-list {
  text-align: left;
  padding: 0;
}

.social-list li {
  padding-right: 1em;
}

address {
  margin: -1em 0;
}

address {
  font-style: normal;
}

.blog-form-wrapper {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2em 0 5em;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

form textarea,
input {
  width: 100%;
  border: solid 0.1em #86e0f9;
  padding: 1em;
  margin: 2em 0;
}

.blog-form-wrapper input[type="text"],
.blog-form-wrapper input[type="email"],
.blog-form-wrapper textarea {
  background-color: #0c1423;
}

form input {
  margin: 0 auto;
  width: calc((100% / 2) - 1em);
  margin: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

::-webkit-input-placeholder {
  color: #ffffff;
}

:-ms-input-placeholder {
  color: #ffffff;
}

::-ms-input-placeholder {
  color: #ffffff;
}

::placeholder {
  color: #ffffff;
}

input,
select,
textarea {
  color: #0f614e;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  background-color: coral;
}

.submit-button {
  background-color: #0f614e;
  color: #ffffff;
  width: 100%;
}

.contact-form-wrapper {
  padding: 3em 3em;
}

.contact-form-wrapper,
form textarea,
input {
  background-color: #0f614e;
}
